
#header-menu .content li,
#footer-columns > .column,
ul#info li,
.tabs ul.tabs li,
.node ul.links,
.comment h3.title,
.field-type-taxonomy-term-reference .field-label,
.field-type-taxonomy-term-reference .field-items,
.field-type-taxonomy-term-reference .field-item,
fieldset.filter-wrapper .form-type-select,
.search-advanced .criterion,
.search-advanced .action,
ul.pager li,
#block-poll-recent ul.links li {
  zoom: 1;
  display: inline;
}
body.columns-2 #content-wrapper {
  width: 69%;
}
* html .clearfix {
  zoom: 1;
}
*:first-child+html .clearfix {
  zoom: 1;
}
#header-menu .block{
  position: relative;
  bottom: -23px;
}
#branding a#logo,
#name-and-slogan {
  zoom: 1;
  display: inline;
}
ul li,
ol li,
.block ul li,
ul.action-links {
  list-style: none outside none;
}
.node .date {
  float: left;
}
.node .title-and-meta {
  float: left;
  margin-top: 8px;
}
.node h1.node-title a,
.node h2.node-title a {
  line-height: 1;
}
input.form-button,
input.form-submit {
  overflow: visible;
}
textarea {
  padding: 0;
}
input.form-text,
input.form-password,
input.form-file {
  padding-left: 0;
  padding-right: 0;
}
tr td {
  border-bottom: 1px solid #B09370;
}
#forum tr.container td {
  border-bottom: 4px double #B09370;
}
.node .meta {
  line-height: 0.8;
}
