
/**
 * Layout
 */
#content-wrapper,
#sidebar-first-wrapper,
#sidebar-second-wrapper {
  float: left;
}
#content,
#sidebar-first,
#sidebar-second {
  margin: 0 15px;
} 
#content.first,
#sidebar-first.first,
#sidebar-second.first {
  margin-left: 0;
}
#content.last,
#sidebar-first.last,
#sidebar-second.last {
  margin-right: 0;
}
/*  3-column layout */
body.columns-3 #header,
body.columns-3 #main,
body.columns-3 #footer {
  margin: 0 auto;
}
body.columns-3 #content-wrapper {
  width: 54%;
}
body.columns-3 #sidebar-first-wrapper,
body.columns-3 #sidebar-second-wrapper {
  width: 23%;
}
/* 2-column layout */
body.columns-2 #header,
body.columns-2 #main,
body.columns-2 #footer {
  margin: 0 auto;
}
body.columns-2 #content-wrapper {
  width: 70%;
}
body.columns-2 #sidebar-first-wrapper,
body.columns-2 #sidebar-second-wrapper {
  width: 30%;
}
/* 1-column layout */
body.columns-1 #header,
body.columns-1 #main,
body.columns-1 #footer {
  margin: 0 auto;
}
/* Mobile */
@media only screen and (max-device-width: 480px) {
  #header,
  #main,
  #footer {
    width: 100%!important;
  }
}
/* Prevent collision with browser chrome */
#header-wrapper,
#main-wrapper,
#footer-wrapper {
  padding: 0 20px;
}

/**
 * Utility classes
 */
.element-hidden {
  display: none;
}
.element-invisible,
#header-menu h2,
#footer-menu h2 {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}
html.js .js-hide {
  display: none;
}
.nowrap {
  white-space: nowrap;
}
.clearfix:after,
.clear-block:after {
  content: ".";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}

/**
 * Wrappers
 */
html {
  height: 100%;
  background: url("images/background.jpg") repeat 0px 0px #F4D0A8; 
}
body {
  background: url("images/background-top.gif") no-repeat center top;
  color: 	#453320;
}
body.toolbar {
  background-position: center 30px;
}
#page-wrapper {
  background: url("images/footer.gif") no-repeat right bottom;
}
#header {
  background: url("images/header.gif") no-repeat right bottom;
}
#main-columns {
  margin: 22px 0;
}
#main {
  min-height: 300px;
}
#footer .inner {
  padding-top: 8px;
}

/**
 * Skip link
 */
#skip-link {
  height: auto;
  overflow: hidden;
  padding: 0;
  margin-top: 0;
  position: absolute;
  left: 20px;
  width: auto;
  z-index: 990;
}
#skip-link a {
  position: absolute;
  display: block;
  top: auto;
  left: -10000px;
  width: 1px;
  height: 1px;
  background: #444;
  color: #ffffff;
  font-size: 0.94em;
  text-decoration: none;
  outline: 0;
  -moz-border-radius: 0 0 10px 10px;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}
#skip-link a:hover,
#skip-link a:active,
#skip-link a:focus {
  position: static;
  width: auto;
  height: auto;
  overflow: visible;
  padding: 1px 10px 2px 10px;
}

/**
 * Branding
 */
#branding {
  padding: 56px 20px 88px;
}
#branding.menu-on {
  padding-bottom: 48px;
}
#branding a#logo {
  display: table-cell;
  vertical-align: middle;
  padding: 4px 12px 0 0;
}
#name-and-slogan {
  display: table-cell;
  vertical-align: middle;
}
#site-name {
  margin: 0 23px 0 0;
}
#site-name a {
  color: #6C5C46;
  font-size: 44px;
  font-weight: 700;
  font-family: Arial,Helvetica,sans-serif;
  letter-spacing: -2px;
  margin: 0;
  line-height: 50px;
  text-shadow: 0 1px 0 #F7E4C8;
  text-decoration: none;
}
#site-name a:active,
#site-name a:focus {
  outline-color: #373737; 
}
#site-slogan {
  font-size: 19px;
  text-shadow: 0 1px 0 #F7E4C8;
  font-style: italic;
  color: #67543C;
  line-height: 20px;
}

/**
 * Main links
 */
/* 1st level */
#header-menu .content {
  min-height: 42px;
}
#header-menu .content li {
  display: inline-block;
  vertical-align: middle;
  margin-top: 0;
}
#header-menu .content li a {
  color: #444444;
  display: block;
  padding: 14px 17px;
  line-height: 1.3;
}
#header-menu .content li a:hover,
#header-menu .content li a:active,
#header-menu .content li a:focus {
  color: #C03F06;
  outline: none;
}
#header-menu .content li.collapsed a:after {
	content: none;
}
#header-menu .content li.expanded {
  position: relative;
  background: url(images/arrow-down.png) no-repeat right 20px;
  margin-right: 10px;
}
#header-menu .content li.expanded a {
  margin: 0;
}
/* 2nd level */
#header-menu .content li.expanded ul {
  display: none;
  position: absolute;
  padding: 2px 0;
  width: 185px;
  top: 33px;
  left: 0;
  background: #494F52 url(images/suckerfish.png) no-repeat top left;
  border: 1px solid #3C4144;
  z-index: 100;
}
#header-menu .content li.expanded:hover > ul {
  display: block;
}
#header-menu .content li.expanded li {
  display: block;
  margin: 0;
}
#header-menu .content li.expanded li.expanded {
  background: url(images/menu-white.png) no-repeat 96% 13px;
}
#header-menu .content li.expanded ul li a {
  padding: 6px 12px;
  color: #F2EDC1;
  font-size: 13px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
}
#header-menu .content li.expanded  ul a:hover {
  color: #ffffff;
}
/* 3rd, 4th, 5th, (...) level  */
#header-menu .content li.expanded ul ul {
  display: none;
  left: 173px;
  top: -13px;
}

/**
 *  Footer
 */
#footer .block {
  margin-bottom: 10px;
}
#footer .block h2 {
  border-bottom: none;
  font: bold 1.5em/1em Arial,Helvetica,sans-serif;
}
#footer-columns {
  border-top: 4px double #B09370;
}
#footer-columns > .column {
  display: inline-block;
  vertical-align: top;
}
#footer-columns.columns-1 > .column {
  width: 100%;
}
#footer-columns.columns-2 > .column {
  width: 49.5%;
}
#footer-columns.columns-3 > .column {
  width: 33%;
}
#footer-columns.columns-4 > .column {
  width: 24.2%;
}
#footer-columns .region {
  margin: 20px;
}
#footer-columns .column.first .region {
  margin: 20px 20px 20px 0px;
}
#footer-columns .column.last .region {
  margin: 20px 0px 20px 20px;
}
#footer-columns .column.first.last .region {
  margin: 20px 0px 20px 0px;
}
/* Closure */
#closure {
  padding: 0 0 15px 0;
  border-top: 1px solid #B09370;
}
#closure .inner {
  padding-top: 14px;
}
/* Theme info */
ul#info {
  margin: 0;
  font-size: 11px;
}
ul#info li {
  display: inline-block;
  background: url(images/separator.png) no-repeat left center;
  padding: 0 0 0 13px;
  margin: 0 6px 0 0;
}
ul#info li:first-child {
  padding: 0;
  background: none;
}
ul#info li a:hover {
  border-bottom-style: solid;
}
/* Footer menu */
#footer-menu {
  font-size: 11px;
  margin-bottom: 1px;
}
#footer-menu .block {
  margin-bottom: 2px;
}
#footer-menu h2 {
  height: 0;
  overflow: hidden;
  position: absolute;
}
#footer-menu ul {
  margin: 0;
}
#footer-menu ul li {
  display: inline;
  background: url(images/separator.png) no-repeat left center;
  padding: 0 0 0 13px;
  margin: 0 6px 0 0;
}
#footer-menu ul li:first-child {
  padding: 0;
  background: none;
}

/**
 * Messages
 */
#messages {
  margin: 10px 0;
  font-family: "Arial", "sans-serif";
  font-size: 13px;
  line-height: 1.4;
}
.messages {
  padding: 10px;
  margin: 10px 0;
}
.messages,
.messages * {
  color: #ffffff;
}
.messages a:hover {
  color: #ffffff;
  opacity: 0.8;
}
.messages.status {
  background-color: #7b8e25;
}
.messages.warning {
  background-color: #eea10f;
}
.messages.error {
  background-color: #d93c26;
}
.messages ul li {
  background: url("images/bullet-white.png") no-repeat 0 7px;
  margin-left: 5px;
}

/**
 * Breadcrumbs
 */
.breadcrumb a {
  font-weight: 700;
  font-size: 12px;
}

/**
 * Action links
 */
ul.action-links {
  margin: 6px 0;
}
ul.action-links li {
  padding-left: 0;
  background: none;
}

/**
 * Pagers
 */
ul.pager {
  margin-left: 0;
  margin: 10px 0 2px 0;
}
ul.pager li {
  padding: 0;
  display: inline-block;
  background: none;
  margin: 0 5px;
}
ul.pager li.first {
  margin-left: 0;
}
ul.pager li.last {
  border-right: none;
}
ul.pager li a,
ul.pager li.pager-current,
ul.pager li.pager-ellipsis {
  font-weight: 700;
  font-size: 11px;
  text-decoration: none;
}
ul.pager li.pager-previous {
  padding-right: 8px;
}
ul.pager li.pager-previous a {
  padding-left: 17px;
}
ul.pager li.pager-next {
  padding-left: 8px;
}
ul.pager li.pager-next a {
  padding-right: 17px;
}

/**
 * Tabs
 */
.tabs {
  margin: 16px 0;
}
.tabs ul.tabs {
  margin-left: 0;
}
.tabs ul.tabs li {
  display: inline-block;
  padding: 0;
  margin: 0 5px 0 0;
  background-image: none;
}
.tabs ul.tabs li a {
  display: block;
  padding: 5px 16px;
  color: #453320;
  border: 1px solid #CBA06B;
  background-color: #E7C398;
}
.tabs ul.tabs li.active a {
  background-color: #F8EEE1;
}
.tabs ul.tabs li a:active,
.tabs ul.tabs li a:focus {
  background-color: #fbf5ee;
  outline: none;
}
.tabs ul.tabs li a:hover {
  background-color: #fbf5ee;
}
.tabs ul.secondary {
  margin-top: -7px;
}
.tabs ul.secondary li a {
  font-size: 12px;
  padding: 2px 12px ;
}

/**
 * Vertical tabs
 */
.vertical-tabs {
  border: 1px solid #CBA06B;
  margin: 18px 0;
}
.vertical-tabs .form-item:first-of-type {
  margin-top: 6px;
}
ul.vertical-tabs-list {
  display: table-cell;
  vertical-align: top;
  width: 165px;
  margin: 0;
}
ul.vertical-tabs-list li {
  background-image: none;
  padding: 0;
}
ul.vertical-tabs-list li a {
  background-color: #E7C398;
  font-size: 0.9em;
  display: block;
  padding: 7px 12px;
  color: inherit;
  border-right: 1px solid #CBA06B;
  border-bottom: 1px solid #CBA06B;
}
ul.vertical-tabs-list li a strong {
  font-weight: 300;
}
ul.vertical-tabs-list li a:focus {
  outline: none;
}
ul.vertical-tabs-list li.selected a {
  background-color: #F8EEE1;
  border-right: 1px solid #CBA06B;
}
.vertical-tabs-panes {
  display: table-cell;
  vertical-align: top;
  padding: 10px 0;
}
fieldset.vertical-tabs-pane {
  margin: 0;
  padding: 0px 15px 10px 15px;
  border: none;
  background-color: inherit;
}
fieldset.vertical-tabs-pane legend,
ul.vertical-tabs-list span.summary {
  display: none;
}

/**
 * Resizable textareas
 */
.resizable-textarea .grippie {
  height: 9px;
  overflow: hidden;
  background: #C03F06 url(images/grippie.png) no-repeat center 2px;
  border: 1px solid #C03F06;
  border-top-width: 0;
  cursor: s-resize;
  margin: -6px 0 0 0!important;
  position: relative;
}

/**
 * Collapsing fieldsets
 */
html.js fieldset.collapsible legend a {
  padding: 0 15px 0 0;
  margin: 0 2px 0 0;
  background: url("images/arrow-down.png") no-repeat right 6px;
}
html.js fieldset.collapsed legend a {
  background: url(images/arrow-right.png) no-repeat right 4px;
}
html.js fieldset.collapsed .fieldset-wrapper,
html.js fieldset.collapsed .action {
  display: none;
}

/**
 * Autocompletion list
 */
#autocomplete {
  position: absolute;
  border: 1px solid;
  overflow: hidden;
  z-index: 100;
}
#autocomplete ul {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-image: none;
}
#autocomplete li {
  background: #ffffff;
  color: #000000;
  white-space: pre;
  cursor: default;
}
#autocomplete li.selected {
  background: #0072b9;
  color: #ffffff;
}

/**
 * Block module
 */
.block {
  margin-bottom: 25px;
}
.block:last-child {
  margin-bottom: 15px;
}
.block + #block-system-main {
  margin-top: 15px;
}
.block h2 {
  margin: 0 0 14px 0;
  padding: 0 0 10px 0;
  color: #644C33;
  border-bottom: 4px double #B09370;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -0.05ex;
  text-shadow: 0 1px 0 #F7E4C8;
}
.block li {
  line-height: 1.4;
  margin-top: 8px;
}
.block ul li:first-child {
  margin-top: -2px;
}
.block .more-link {
  margin: 10px 0;
  text-align: right;
  line-height: 1;
}
.block .more-link a {
  text-transform: capitalize;
}
.block table th,
.block table td {
  padding-left: 0;
  padding-right: 0;
}
.block input.form-text,
.block input.form-password,
.block input.form-file {
  width: 100%;
  max-width: 400px;
}

/**
 * Node module
 */
.node {
  margin: 12px 0;
}
.node-header {
  margin: 16px 0;
}
.date {
  display: table-cell;
  vertical-align: middle;
  border-right: 2px solid #847762;
  padding: 0 13px 0 0;
}
.node .date span {
  display: block;
  text-align: right;
  line-height: 1;
  text-shadow: 0 1px 0 #F7E4C8;
}
.date .day {
  font-size: 29px;
  color: #5C462E;
  letter-spacing: -1.5px;
  font-weight: 700;
}
.date .month {
  text-transform: uppercase;
  color: #5C462E;
  font-size: 12px;
}
.date .year {
  color: #5C462E;
  font-size: 12px;
}
.date li.comment-new-comments {
  display: none;
}
.node .title-and-meta {
  display: table-cell;
  vertical-align: middle;
  padding-left: 13px;
}
.node h1.node-title,
.node h2.node-title {
  margin: 0;
  font-size: 24px;
  line-height: 24px;
}
.node h1.node-title a,
.node h2.node-title a {
  color: #453320;
  text-decoration: none;
  line-height: 11px;
  font-weight: 700;
  text-shadow: 0 1px 0 #F7E4C8;
}
.node h1.node-title a:hover,
.node h2.node-title a:hover {
  color: #C03F06;
}
.node .meta {
  margin-top: 5px;
  font-size: 13px;
  line-height: 0.6;
  font-weight: 700;
  color: #6E5539;
  text-transform: lowercase;
}
.user-picture {
  float: left;
  margin: 5px 10px 10px 0;
}
.node .user-picture img {
  width: 70px;
}
.node .field-name-body {
  margin-bottom: 14px;
}
/* "Read more" and "X comments" links */
.node .links-wrapper {
  margin: 4px 0;
}
.node ul.links {
  display: inline-block;
  margin-left: 0;
}
.node ul.links li {
  margin: 0 7px 0 0;
}

/**
 * Comment module
 */
#comments-wrapper {
  margin-top: 20px;
}
#comments h2.comments {
  font-size: 24px;
  margin: 0 0 12px 60px;
  font-weight: 700;
  padding-bottom: 10px;
  border-bottom: 4px double #483F32;
  line-height: 1.1;
}
#add-comment-link {
  font-size: 16px;
  padding-left: 2px;
}
#comments-wrapper .indented {
  margin: 0 0 0 70px;
}
.comment {
  position: relative;
}
.comment .header {
  margin-bottom: 14px;  
  line-height: 1;
}
.comment .user-picture {
  position: absolute;
  left: 0;
}
.comment .user-picture img {
  width: 44px;
  border: 2px solid #CEAB80;
}
.comment h3.title {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 3px;
}
.comment h3.title a {
  font-size: 17px;
  font-weight: 700;
  font-family: "Arial", sans-serif;
  color: 	#453320;
  letter-spacing: normal;
}
.comment .meta {
  text-transform: uppercase;
  margin-top: 4px;
  background: none;
  padding-left: 0;
  margin-bottom: 8px;
  font-size: 12px;
  color: #72614A;
  font-family: Arial,Helvetica,sans-serif;
}
.comment .content {
  margin: 9px 0 10px 60px;
  padding: 0 0 7px 0;
  border-bottom: 1px solid #483F32;
}
.comment ul.links {
  margin: 5px 0 13px;
}
.comment ul.links li a {
  background-color: #453320;
  color: #FFFFFF;
  font-family: "Arial", sans-serif;
  font-size: 10px;
  font-weight: 700;
  padding: 3px 10px;
  text-transform: uppercase;
}
.comment ul.links li a:hover,
.comment ul.links li a:focus {
  background-color: #C03F06;
  color: #ffffff;
}
h2#add-comment-form {
  margin-top: 25px;
  font-size: 23px;
  font-weight: 700;
  color: #453320;
  letter-spacing: -1px;
}
#comment-form-wrapper {
  margin-left: 60px;
}
.no-comments #comment-form-wrapper {
  margin-left: 0;
}
form#comment-form #edit-actions {
  margin: 0;
}

/**
 * Book module
 */
.node-book ul.links {
  margin: 0 0 14px 0;
}
.page-links {
  display: table;
  width: 100%;
  margin-top: 20px;
  border-top: 1px solid #B09370;
  padding: 13px 0;
}
.page-links .page-previous {
  display: table-cell;
  vertical-align: top;
  width: 40%;
}
.page-links .page-up {
  display: table-cell;
  vertical-align: top;
  width: 20%;
  text-align: center;
}
.page-links .page-next {
  display: table-cell;
  vertical-align: top;
  width: 40%;
  text-align: right;
}
.page-links .page-next:first-child {
  width: 100%;
}

/**
 * Aggregator module
 */
#content a.feed-icon {
  float: right;
  margin-top: -5px;
}
#content a.feed-icon img {
  margin: 0;
}
h3.feed-item-title {
  line-height: 1.1;
  font-size: 18px;
  margin-bottom: 0;
  margin-top: 20px;
}
.feed-item-body {
  margin-top: 7px;
}

/**
 * Field module
 */
/* Taxonomy terms */
.field-type-taxonomy-term-reference .field-label {
  color: #6E5539;
  display: inline-block;
}
.field-type-taxonomy-term-reference .field-items {
  display: inline-block;
}
.field-type-taxonomy-term-reference .field-item {
  display: inline-block;
  margin-right: 5px;
}
.field-type-taxonomy-term-reference .field-item:after {
	content: ",";
}
.field-type-taxonomy-term-reference .field-item:last-child:after {
  content: none;
}
.field-type-image {
  float: left;
  clear: left;
  margin: 10px 15px 10px 0;
}

/**
 * Filter module
 */
fieldset.filter-wrapper {
  margin: 0 0 12px 0;
  border-top: none;
}
fieldset.filter-wrapper .form-type-select {
  display: inline-block;
  margin-top: 0;
}
.filter-help {
  float: right;
  margin: 19px 0 0;
}
.filter-guidelines ul {
  margin: 0;
}
body.page-filter-tips #content ul {
  margin: 0;
  list-style: none;
}
body.page-filter-tips #content ul li {
  margin: 10px 0;
}
body.page-filter-tips table {
  margin: 10px 0;
}

/**
 * Forum module
 */
body.page-forum ul.action-links {
  margin: 9px 0;
}
#forum > table {
  line-height: 1.4;
}
#forum tr.container {
  border-bottom: 4px double #B09370;
}
#forum tr.container .name {
  font-size: 20px;
}
#forum .name {
  margin-bottom: 4px;
}
#forum td {
  padding: 18px 14px;
  vertical-align: top;
}
#forum td.icon .topic-status-sticky {
  background: url(images/forum-sticky.png) no-repeat center center;
  width: 30px;
  height: 35px;
}
#forum td.icon .topic-status-default {
  background: url(images/forum-default.png) no-repeat center center;
  width: 37px;
  height: 32px;
}
#forum td.icon .topic-status-closed {
  background: url(images/forum-closed.png) no-repeat center center;
  width: 30px;
  height: 35px;
}
#forum td.icon .topic-status-hot {
  background: url(images/forum-hoht.png) no-repeat center center;
  width: 37px;
  height: 32px;
}
#forum td.icon .topic-status-new {
  background: url(images/forum-new.png) no-repeat center center;
  width: 42px;
  height: 39px;
}
#forum td.icon .topic-status-hot-new {
  background: url(images/forum-hot-new.png) no-repeat center center;
  width: 43px;
  height: 38px;
}




/**
 * OpenID module
 */
/* user login form */
html.js #user-login-form .form-item-openid-identifier,
html.js #user-login .form-item-openid-identifier {
  display: none;
}
html.js #user-login-form li.openid-link,
html.js #user-login li.openid-link {
  display : block;
}
#user-login-form li.openid-link,
#user-login li.openid-link,
#user-login-form li.user-link,
#user-login li.user-link {
  display: none;
}
#block-user-login li:first-child {
  margin-top: 8px;
}
#block-user-login .description {
  margin-bottom: 10px;
}
form#user-login-form input.form-submit {
  margin-top: 10px;
}
/* user profile tab */
.form-item-openid-identifier {
  margin: 10px 0;
  display: block;
}
.form-item-openid-identifier .description {
  display: none;
}

/**
 * Poll module
 */
.poll .title {
  font-weight: 700;
  margin-bottom: 8px;
  line-height: 1.3;
}
.poll .bar-wrapper {
  margin-bottom: 10px;
}
.poll .text {
  float: left;
}
.poll .percent {
  float: right;
}
.poll .bar {
  background-color: #FBF9F8;
  border: 1px solid #E1B37C;
}
.poll .bar .foreground {
  background-color: #C03F06;
  height: 18px;
}
.vote-form label {
  font-size: 13px;
}
.vote-form .form-item-choice {
  margin: 6px 0;
  padding: 0;
}
.vote-form .title {
  font-weight: 700;
}
.vote-form .form-radios {
  margin: 13px 0 9px 0;
}
#block-poll-recent ul.links li {
  display: inline-block;
  margin-right: 10px;
}

/**
 * Profile and User modules
 */
.profile dd {
  margin-left: 0;
}
.profile h3 {
  border-bottom: 1px solid #B09370;
  padding-bottom: 4px;
  margin-bottom: 10px;
  margin-top: 17px;
}
.profile .user-picture {
  float: right;
  margin: 55px 0px 10px 10px;
}
/* User list */
body.page-profile .profile {
}
body.page-profile .user-picture {
  margin: 0 0 5px 0;
  vertical-align: top;
  float: none;
}
body.page-profile .user-picture img {
  width: 60px;
}
body.page-profile .name {
  line-height: 2.2;
}

/**
 * Search module
 */
ol.search-results {
  margin: 0;
  list-style-position: inside;
}
ol.search-results li {
  margin-bottom: 18px;
    font-size: 17px;
}
ol.search-results h3 {
  display: inline;
  margin: 0 0 3px 0;
  font-size: 17px;
  line-height: 1.2;
}
ol.search-results .search-snippet {
  margin: 0;
  font-size: 13px;
}
ol.search-results .search-info {
  font-size: 11px;
  margin-top: 3px;
}
ol.search-advanced .criterion {
  display: inline-block;
  vertical-align: top;
  margin-right: 35px;
}
ol.search-advanced .action {
  display: inline-block;
  vertical-align: top;
}

/**
 * Contexutal links module
 */
div.contextual-links-wrapper {
  font-size: 12px;
  z-index: 20;
}
.contextual-links-region-active {
  outline: 1px dashed #826748;
}
a.contextual-links-trigger {
  background-position: 2px -18px;
}
ul.contextual-links {
  font-family: "Arial", sans-serif;
  padding: 0!important;
}
ul.contextual-links li {
  background: none;
}
ul.contextual-links li:first-child {
  margin-top: 0;
}
div.contextual-links-wrapper ul.contextual-links a {
  line-height: 1;
}

/**
 * Maintenance-page
 */
body.maintenance-page {
  min-height: 300px;
  margin: 0;
}
body.maintenance-page #page-wrapper {
  width: 500px;
  margin: 0 auto;
  background: none;
  padding-top: 25%;
}
body.maintenance-page #page-wrapper h1 {
  margin-top: 0;
  text-align: center;
}

/**
 * Tooblar module
 */
#toolbar {
  font-size: 13px;
}
#toolbar ul li {
  background: none;
}

